/*전체 영역을 통틀어서 스타일 정의*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{
	font-family: 'Nanum Gothic';
}
a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #bbbbbb;/*회색*/
	text-decoration: none;
	cursor: pointer;
}

/*네비게이션 영역 */
.navbar-default {/*배경색상*/
	background-color: #000000;/*검은색*/
	border-color: #000000;
}
.navbar-default .navbar-brand{ /*네비게이션 제목 색상 */
	color: #ffffff;/*흰색*/
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{ /*네비게이션 제목에 마우스를 올렸을 때 */
	background-color: transparent;
	color: #bbbbbb;/*회색*/
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { /* 현재 선택된 네비게이션 색상 이벤트 */
	color: white;
	background-color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus { /* 네비게이션의 글자에 마우스를 올렸을 때 */
	color: #bbbbbb;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus { /* 드랍다운이 열렸을 때 마우스 색상 이벤트 */
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
}
.navbar-default .navbar-nav > li > a {/* 네비게이션 기본 색상 */
	color: white;
}
@media (max-width: 767px) { /*해상도가 작을 때 드랍다운 아이템에 마우스를 올렸을 때 */
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		clear: #bbbbbb;
	}
}

@media (max-width: 767px) {
		.navbar-default .navbar-nav .open .dropdown-menu1 > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu1 > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu1 > li > a:focus {
		clear: #bbbbbb;
	}
}
	
@media (max-width: 767px) {
		.navbar-default .navbar-nav .open .dropdown-menu2 > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu2 > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu2 > li > a:focus {
		clear: #bbbbbb;
	}
}

@media (max-width: 767px) {
		.navbar-default .navbar-nav .open .dropdown-menu3 > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu3 > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu3 > li > a:focus {
		clear: #bbbbbb;
	}
}

@media (max-width: 767px) {
		.navbar-default .navbar-nav .open .dropdown-menu4 > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu4 > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu4 > li > a:focus {
		clear: #bbbbbb;
	}
}












